// color
$peach-color:#E7816B;
$black-color:#1D1C1E;
$white-color:#FFFFFF;
$peach-light-color: #FFAD9B;
$dark-grey-color: #333136;
$white-light-color: #F1F3F5;
$bg-color: #FDF3F0;


// font
$body-ff:'Jost',sans-serif;

    